.Barber-List{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.Barber-Container{
    background-color: rgb(73, 71, 71);
    display: flex;
    width: 95%;
    margin: auto;
    margin-bottom: 3vh;
    color: rgb(211, 211, 211);
}
.Barber-Container img{
    margin: 0;
    width: fit-content;
    background-color: rgb(40, 42, 43);
    max-width: 25%;
    border-style: solid;
    border-width: 1px;
}
.Barber-About{
    width: fit-content;
    padding-left: 2vw;
}
.Barber-About h1{
    margin-bottom: 0;
}
.Barber-Phone{
    margin-bottom: 2vh;
}

@media (max-width: 740px){
    .Barbers-Container{
        flex-direction: column;
    }
    .Barbers-Container img{
        margin: auto;
        max-width: 100%;
    }
}